/* 共通 */
html {
  font-size: 62.5%;
}

body {

}

/* PCレイアウト */
/* ヘッダー */
.header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav-item {
  color: #fff;
}

.header-button {
  background: #0C4324;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
}

/* メインビジュアル */
.mainvisual {
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-box {
  writing-mode: vertical-rl;
  width: 21%;
}

.right-box {
  width: 79%;
  background-image: url("/clinic/images/BG-circle.png");
  background-repeat: no-repeat;
  background-size: 719px 616px;
  background-position-x: 250px;

}

.right-box img {
  width: 100%;
}

/* ニュース */
.news {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.business-hours {
  margin-right: 700px;
}

.button-with-arrow.no-outline {
  justify-content: right; 
}

/* コンセプト */
.concept {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 120px;
}

.concept-left {
  width: 320px;
  background-image: url("/clinic/images/Title.png");
  background-repeat: no-repeat;
  background-size: 530px 130px;
  background-position-x: center;
}

.concept-right {
  display: block;
  width: 400px;
  height: 507px;
  margin-left: 80px;
  position: relative;
  background-image: url("/clinic/images/BGicon-big.png");
  background-repeat: no-repeat;
  background-size: 440px 336px;
  background-position-x: 50px;
  background-position-y: bottom;
}

.treatment1 {
  height: 146px;
  width: 146px;
  align-self: flex-end;
  position: absolute;
  border-radius: 15px;
  top: -61px;
  right: 65px;
  z-index: 1;
}

.treatment2 {
  height: 379px;
  width: 291px;
  align-self: center;
  position: relative;
  border-radius: 15px;
}

.treatment3 {
  height: 189px;
  width: 146px;
  align-self: flex-end;
  position: absolute;
  border-radius: 15px;
  right: 0;
  bottom: 61px;
}

/* コース・料金 */
.course-price {
  height: 1000px;
  width: 100%;
  background: #F0F5E1;

}

.bg-img-middle {
  width: 100%;
}

.course-title {
  text-align: center;

}

.course-content {
  display: flex;
  justify-content: center;
  gap: 80px;

}

.content-left {
  background-image: url("/clinic/images/Title2.png");
  background-repeat: no-repeat;
  background-size: 530px 130px;
  background-position-x: left;

}

.content-left img {
  border-radius: 10%;
}

.content-right {
  background-image: url("/clinic/images/BGicon-big2.png");
  background-repeat: no-repeat;
  background-size: 440px 336px;
  background-position-x: 50px;
  background-position-y: bottom;

}

.content-right img {
  border-radius: 10%;
}

.button-with-arrow {
  display: flex;
  justify-content: center;
}


