/* 共通 */
html {
  font-size: 62.5%;
}

body {

}

/* PCレイアウト */
/* ヘッダー */
.header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav-item {
  color: #fff;
}

.header-button {
  background: #0C4324;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
}

/* メインビジュアル */
.mainvisual {
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-box {
  writing-mode: vertical-rl;
  width: 21%;
}

.right-box {
  width: 79%;
}

.right-box img {
  width: 100%;
}

/* ニュース */
.news {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.business-hours {
  margin-right: 700px;
}

.button-with-arrow.no-outline {
  justify-content: right; 
}

/* コンセプト */
.concept {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  background-image: url("/clinic/images/Title.png"),url("/clinic/images/BGicon-big.png");
  background-repeat: no-repeat;
  background-size: 530px 130px,440px 336px;
  background-position: top left,right;
}

.concept-left {
  width: 320px;
}

.concept-right {
  display: block;
  width: 400px;
  height: 507px;
  margin-left: 80px;
  
}

.treatment1 {
  height: 146px;
  width: 146px;
  align-self: flex-end;
  position: absolute;
  border-radius: 20px;
  bottom: ;
}

.treatment2 {
  height: 379px;
  width: 291px;
  align-self: center;
  position: relative;
  border-radius: 20px;
}

.treatment3 {
  height: 189px;
  width: 146px;
  align-self: flex-end;
  position: absolute;
  border-radius: 20px;
}

/* コース・料金 */
.course-price {
  height: 1000px;
  width: 100%;
  background: #F0F5E1;
  
}

.bg-img-middle {
  
}

.bg-img-middle::before,.bg-img-middle::after{
  
}

.bg-img-middle::before {
  
}

.bg-img-middle::after {
  
}

.course-title {
  text-align: center;
}

.course-content {
  display: flex;
  justify-content: center;
  gap: 80px;

}

.button-with-arrow {
  display: flex;
  justify-content: center;
}


