/* 共通 */
html {
  font-size: 62.5%;
}

body {
  
}

.header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav-item {
  color: #fff;
}

.header-button {
  background: #0C4324;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
}

.mainvisual {
  
}

.left-box {
  writing-mode: vertical-rl;
}

.right-box {
  
}
